
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>&copy; The Parmar's</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem totam ex quas distinctio sed ea, dolor quibusdam sequi possimus cupiditate perspiciatis velit porro dolores fugiat iusto deleniti doloribus placeat eligendi vitae, tempore impedit. Modi laudantium eius tenetur saepe nesciunt, inventore enim soluta tempore, dignissimos voluptatum omnis? Rem, suscipit sed repellendus voluptatum recusandae dignissimos molestias velit ipsam quos sunt ipsum reprehenderit animi excepturi ducimus quibusdam fuga? Ducimus at rerum saepe est harum tempore architecto aliquid repellendus adipisci tenetur suscipit libero inventore, possimus eligendi tempora dolor nisi similique. Itaque veniam recusandae molestiae excepturi exercitationem laudantium quam nostrum! Nobis minus ea itaque adipisci.</p>
  </div>
</div>
</body>
</html>
